.modal-body{
    padding: 24px 24px 16px!important;
    
    .content{

        .modal-title{
            color: #111827;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
        }

        img{
            width: 40px;
            height: 40px;
        }

        label{
            color: #414141;
            font-family: 'Inter', sans-serif;
        }

        input, textarea {
            font-size: 14px;
            font-family: 'Inter', sans-serif;
        }

        textarea{
            resize: none;
        }

        .form{
            padding: 16px 24px 0px;
        }
    }
}

.modal-footer{
    padding: 12px 24px!important;
    background-color: #F9FAFB!important;

    button{
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        font-weight: 400!important;
    }
    
    .btn-purple{
        background-color: #5E1B89;
    }

    .btn-orange{
        background-color: #F97316;
    }

    .btn-orange:hover{
        background-color: #e06913;
    }
    
    .btn-purple:hover{
        background-color: #8739b8;
    }
}