.card{
    border: none!important;
    
    .card-body{
        padding: 1.25em!important;
        border-left: 5px solid #9D71BC!important;
        background-color: #FFFFFF;

        input[type="checkbox"]{
            width: 20px;
            height: 20px;
        }

        input[type="checkbox"]:checked{
            background-color: #5E1B89;
            border-color: #5E1B89;
        }

        input[type="checkbox"]:focus{
            border-color:#5E1B89;
            box-shadow: 0 0 0 0.2rem rgba(127, 40, 167, 0.25);
        }

        .card-title{
            color: #FF7F4D;
            font-family: 'Roboto Slab', serif;
        }
        
        .card-text{
            color: #9D71BC;
        }
    }
}

.card.checked{
    .card-body{
        padding: 1.25em!important;
        border-left: 5px solid #838383!important;

        .card-title{
            color: #a7a7a7;
            font-family: 'Roboto Slab', serif;
            /* text-decoration: line-through; */
        }
        
        .card-text{
            color: #a7a7a7;
            text-align: justify;
            /* text-decoration: line-through; */
        }

        /* Strikethrough */
        .strikethrough {
            position: relative;
            transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
        }
        
        .strikethrough:after {
            content: '';
            position: absolute;
            display: block;
            width: 0; /* Set initial width to zero */
            height: 2px;
            margin-top: -0.6em;
            background: #a7a7a7;
            transform-origin: center left;
            animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) forwards; /* forwards to retain end state */
            transition: width 0.5s cubic-bezier(.55, 0, .1, 1); /* Transition width */
        }
        
    }
}

.card.done{
    .card-body{
        padding: 1.25em!important;
        border-left: 5px solid #838383!important;

        .card-title{
            color: #a7a7a7;
            font-family: 'Roboto Slab', serif;
            text-decoration: line-through;
        }
        
        .card-text{
            color: #a7a7a7;
            text-align: justify;
            text-decoration: line-through;
        }
    }
}

@keyframes strikethrough {
    to {
        width: 100%; /* Animate width to 100% */
    }
}
/* Keyframes for initial animation */

/* @keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
} */